<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="workspace">
    <h1 class="workspace_name">
        워크 스페이스 이름 : <%= selectWS.workspace_name %>
    </h1>
    <div>
      <h2 class="workspace_workflow">
        워크플로우 
      </h2>
      <div>
        <h3>TodoList</h3>
        <ul class="workflow_todolist">
          <% if (selectWS.workflow.todoList.length > 0) { %>
          <% for(let i=0; i < selectWS.workflow.todoList.length; i++) { %>
          <h3>todoList <%=i%><button onclick="deletetodolist('<%=selectWS._id%>','<%=selectWS.workflow.todoList[i].id%>')">삭제</button></h3>
          <ul>
            <li>todoList id : <%=selectWS.workflow.todoList[i].id%></li>
            <li>todoList 내용 : <%=selectWS.workflow.todoList[i].content%></li>
            <li>todoList 생성일 : <%=selectWS.workflow.todoList[i].createDate%></li>
            <li>todoList 마감일 : <%=selectWS.workflow.todoList[i].endDate%></li>
            <li>todoList 중요도 : <%=selectWS.workflow.todoList[i].importance%></li>
          </ul>
          <% } %>
        </ul>
        <% } else { %>
          <div class="no">todo가 없습니다.</div>
        <% } %>
        <hr/>
      </div>
      <div>
        <h3>InprogressList</h3>
        <ul class="workflow_inprogresslist">
          <% if (selectWS.workflow.inprogressList.length > 0) { %>
          <% for(let i=0; i < selectWS.workflow.inprogressList.length; i++) { %>
          <h3>inprogressList<%=i%><button onclick="deleteinprogresslist('<%=selectWS._id%>','<%=selectWS.workflow.inprogressList[i].id%>')">삭제</button></h3>
          <ul>
            <li>inprogressList 내용 : <%=selectWS.workflow.inprogressList[i].content%></li>
            <li>inprogressList 생성일 : <%=selectWS.workflow.inprogressList[i].createDate%></li>
            <li>inprogressList 마감일 : <%=selectWS.workflow.inprogressList[i].endDate%></li>
            <li>inprogressList 중요도 : <%=selectWS.workflow.inprogressList[i].importance%></li>
          </ul>
          <% } %>
        </ul>
        <% } else { %>
          <div class="no">inprogressList가 없습니다.</div>
        <% } %>
        <hr/>
      </div>
      <div>
        <h3>DoneList</h3>
        <ul class="workflow_donelist">
          <% if (selectWS.workflow.doneList.length > 0) { %>
          <% for(let i=0; i < selectWS.workflow.doneList.length; i++) { %>
          <h3>doneList<%=i%><button onclick="deletedonelist('<%=selectWS._id%>','<%=selectWS.workflow.doneList[i].id%>')">삭제</button></h3>
          <ul>
            <li>doneList 내용 : <%=selectWS.workflow.doneList[i].content%></li>
            <li>doneList 생성일 : <%=selectWS.workflow.doneList[i].createDate%></li>
            <li>doneList 마감일 : <%=selectWS.workflow.doneList[i].endDate%></li>
            <li>doneList 중요도 : <%=selectWS.workflow.doneList[i].importance%></li>
          </ul>
          <% } %>
        </ul>
        <% } else { %>
          <div class="no">doneList가 없습니다.</div>
        <% } %>
        <hr/>
      </div>
    </div>
    <div class="test">
    </div>
  </div>
  <form action="/workspace/<%=selectWS._id%>/addtodolist" method="POST" class="board_form">
    <div class="form_workflow-name">
      <h3>Todo List 추가</h3>
      내용 : <input type="text" name="todoList_content" required></input>
      <br/>
      종료일 : <input type="date" name="todoList_endDate" required></input>
      <br/>
      중요도 : <input type="text" name="todoList_importance" required></input>
    </div>
    <button type="submit">Todo 추가</button>
  </form>
  <form action="/workspace/<%=selectWS._id%>/addinprogresslist" method="POST" class="board_form">
    <div class="form_workflow-name">
      <h3>Inprogress List 추가</h3>
      내용 : <input type="text" name="inprogressList_content" required></input>
      <br>
      종료일 : <input type="date" name="inprogressList_endDate" required></input>
      <br/>
      중요도 : <input type="text" name="inprogressList_importance" required></input>
    </div>
    <button type="submit">Inprogress 추가</button>
  </form>
  <form action="/workspace/<%=selectWS._id%>/adddonelist" method="POST" class="board_form">
    <div class="form_workflow-name">
      <h3>Done List 추가</h3>
      이름 : <input type="text" name="doneList_content" required></input>
      <br>
      종료일 : <input type="date" name="doneList_endDate" required></input>
      <br/>
      중요도 : <input type="text" name="doneList_importance" required></input>
    </div>
    <button type="submit">Done 추가</button>
  </form>

</body>
</html>

<script defer>
  const deletetodolist = async(id, todoId) => {
    try{
      const res = await fetch(`http://localhost:8001/workspace/${id}/${todoId}/deletetodolist`,{
        method: 'POST',
        headers: {
      'Content-type': 'application/json',},
      })
      if(res.status ===200) location.reload();
    }catch(err) {
      console.log(err);
    }
  }
  const deleteinprogresslist = async(id, inprogressId) => {
    try{
      const res = await fetch(`http://localhost:8001/workspace/${id}/${inprogressId}/deleteinprogresslist`,{
        method: 'POST',
        headers: {
      'Content-type': 'application/json',},
      })
      if(res.status ===200) location.reload();
    }catch(err) {
      console.log(err);
    }
  }
  const deletedonelist = async(id, doneId) => {
    try{
      const res = await fetch(`http://localhost:8001/workspace/${id}/${doneId}/deletedonelist`,{
        method: 'POST',
        headers: {
      'Content-type': 'application/json',},
      })
      if(res.status ===200) location.reload();
    }catch(err) {
      console.log(err);
    }
  }
</script>