<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="workspace">
    <h1 class="workspace_name">
        워크 스페이스 이름 : <%= selectWS.workspace_name %>
    </h1>
    <div>
      <h2 class="workspace_workflow">
        워크플로우 
      </h2>
      <ul class="workflow_list">
        <% if (selectWS.workflow.length > 0) { %>
        <% for(let i=0; i < selectWS.workflow.length; i++) { %>
        <h3>워크플로우 정보</h3>
        <ul>
          <li>워크플로우 이름 : <%=selectWS.workflow[i].name%></a></li>
          <li>워크플로우 시작일 : <%=selectWS.workflow[i].startDate%></a></li>
          <li>워크플로우 종료일 : <%=selectWS.workflow[i].endDate%></a></li>
          <br/>
          <br/>
        </ul>
        <% } %>
      </ul>
      <% } else { %>
        <div class="no">생성된 워크플로우가 없습니다.</div>
      <% } %>
    </div>
    <hr/>
    <div>
      <h2 class="workspace_member">
        멤버
      </h2>
      <ul class="member_list">
        <% if (selectWS.member.length > 0) { %>
        <% for(let i=0; i < selectWS.member.length; i++) { %>
        <li><%=selectWS.member[i]%></a></li>
        <br/>
        <br/>
        <% } %>
      </ul>
      <% } else { %>
        <div class="no">추가된 유저가 없습니다.</div>
      <% } %>
    </div>
  </div>
  <form action="/workspace/<%=selectWS._id%>/addwf" method="POST" class="board_form">
    <div class="form_workflow-name">
      <h3>워크 플로우</h3>
      이름 : <input type="text" name="workflow_name" required></input>
      <br>
      시작일 : <input type="date" name="workflow_startDate" required></input>
      <br>
      종료일 : <input type="date" name="workflow_endDate" required></input>
    </div>
    <button type="submit">워크플로우 생성</button>
  </form>
  <form action="/workspace/<%=selectWS._id%>/addmember" method="POST" class="board_form">
    <div class="form_workflow-name">
      <h3>유저 ID</h3>
      <input type="text" name="member" required></input>
    </div>
    <button type="submit">멤버 추가</button>
  </form>
  
</body>
</html>